<script>

export default {
  components: {
  },
  methods: {
    onImgError (item, $event) {
      console.log(item, $event)
    },
    onLoad () {
      this.loading = true
      setTimeout(() => {
        for (let i = 0; i < 10; i++) {
          this.list.push({name: '天盛花园', proof: '是', houseType: '3-2-2', floor: Math.floor(Math.random() * 20), decoration: ['新装', '精装修'][Math.floor(Math.random() * 1.9)], area: Math.floor(Math.random() * 20 + 80), price: Math.floor(Math.random() * 20 + 100)})
        }
        this.loading = false

        if (this.list.length >= 40) {
          this.finished = true
        }
      }, 500)
    }
  },
  data () {
    return {
      list: [],
      loading: false,
      finished: false
    }
  },
  created () {
    const { path } = this.$route || {}
  },
  watch: {
    $route (n, o) {
    }
  }
}
</script>
<template>
  <div class="home">
    <div class="search-guide">
      <van-icon name="search" /><span>搜索</span>
    </div>
    <van-list
      v-model="loading"
      :finished="finished"
      @load="onLoad"
    >
      <div v-for="(item, index) in list" :key="index" class="home-list-item">
        <van-row style="margin-bottom: 3px">
          <van-col span="6">{{item.name}}</van-col>
          <van-col span="6">{{item.decoration}}</van-col>
          <van-col span="6">{{item.houseType}}</van-col>
        </van-row>
        <van-row>
          <van-col span="6">面积：{{item.area}}</van-col>
          <van-col span="6">价格：{{item.price}}</van-col>
          <van-col span="6">楼层：{{item.floor}}</van-col>
          <van-col span="6">包证：{{item.proof}}</van-col>
        </van-row>
      </div>
    </van-list>
  </div>
</template>
<style lang="less">
.home {
  position: relative;
  background: rgb(250, 247, 247);
  .van-col {
  }
  padding: 50px 0 0;
}
.home-list-item {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px 0 10px 20px;
}
.title {
  color: #000;
  font: 16px/36px 'Microsoft YaHei, Helvetica, sans-serif, Arial, Tahoma';
}
.search-guide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font: 16px/50px 'Tahoma, Helvetica, sans-serif, Arial';
  background: linear-gradient(0deg,#6fb9ee,#0069ff);
  border-radius: 0 0 25px 25px;
  opacity: 0.95;
  .van-icon {
    position: relative;
    top: 4px;
    margin-right: 10px;
    font-size: 20px;
  }
}
</style>
